* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff")
    format("woff");
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.woff")
    format("woff");
  font-weight: bold;
}

body {
  position: relative;
}


/* POp-UP ФОРМА */
.pop-up {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;

  display: none;

  background: rgba(0, 0, 0, 0.6);
  
}

.pop-up-form {
  width: 392px;
  min-height: 589px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 243px;
  padding-left: 29px;
  padding-right: 32px;
  padding-bottom: 54px;
  box-sizing: border-box;
  position: sticky;
  top: 10%;

  background-color: #ffffff;
}

.close-button {
  width: 19px;
  height: 19px;
  background-image: url("../svg/form-x.svg");
  background-color: transparent;
  border: none;

  position: absolute;
  right: 0;
  top: -27px;
}

.pop-up-title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";

  text-align: center;
  padding-top: 44px;
  padding-bottom: 25px;
}

.pop-up-title::after {
  content: "";
  display: block;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;

  opacity: 0.400;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.form-titles {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";
}

.select-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;

  width: 331px;
  height: 61px;
  padding: 0 21px;

  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";

  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: 97%;
}

.select-form:focus {
  outline: 1px solid #b59f5b;
}

.pop-up-email {
  margin-top: 25px;
  border: none;
}

.email-radio {
  display: none;
}

.email-label {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";

  margin-top: 7px;

  display: inline-flex;
  gap: 8px; 

}

.email-label:nth-of-type(2) {
  margin-left: 13px;
}

.email-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 16px;
}

.email-radio:checked + .email-label::before {
  background-image: url("../svg/form-circle.svg");
}

.text-area-title {
  display: block;
  margin-top: 26px;

  line-height: 20px;
}

.pop-up-textarea {
  width: 100%;
  min-height: 133px;

  resize: none;
  border: none;
  background-color: #f4f7f6;
  
  box-sizing: border-box;
  padding: 22px;
  

  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  font-weight: 400;
  font-family: "OpenSans";
}

.pop-up-textarea:focus {
  outline: 1px solid #b59f5b;
}

.pop-up-button {
  width: 100%;
  height: 49px;

  background-color: #b59f5b;
  border: none;
  margin-top: 25px;

  font-size: 14px;
  /* line-height: 40px; */
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "OpenSans";
}

.pop-up-button:hover {
  background-color: #323232;
  cursor: pointer;
}




/* ХОВЕР ЭФФЕКТ */
.hover-color:hover {
  color: #b59f5b;
  cursor: pointer;
}


/* ШАПКА */
.header {
  min-height: 450px;
  position: relative;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
  padding: 28px 0;
  box-sizing: border-box;
} 

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: #000000;
  opacity: 0.6;
}

.centering-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 2;
}

.header-logo {
  width: 180px;
}

/* НАВИГАЦИЯ*/
.menu {
  display: flex;
  list-style-type: none;
  align-items: start;
  flex-wrap: wrap;
} 

.menu-item {
  vertical-align: top;
}

.menu-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-item:hover {
  text-decoration: underline;
  color: #ffffff;
}

.menu-link {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/*ЗАГОЛОВОК ШАПКИ*/
.header-title {
  width: 690px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 75px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  text-align: center;
  z-index: 2;
} 

.title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: bold;
  font-family: "OpenSans", sans-serif;
}

/* ТРЕНДЫ */
.trends {
  margin-top: 59px;
}

.trends-title {
  text-align: center;
}

.trends-title::after {
  content: "";
  opacity: 0.400;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;

  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.greed-container {
  /* min-width: 320px; */
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  margin-top: 28px;
}

.trends-article {
  min-height: 320px;
  width: calc(25% - 3px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: #eff6f1;


  box-sizing: border-box;

  padding: 16px 18px;

}

.trends-article::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;

  background: #000000;
  opacity: 0.6;

}

.trends-article-title {
  color: #ffffff;
}

.trends-article-container {
  min-height: 146px;
  box-sizing: border-box;
  padding: 37px 33px;

  position: relative;
  z-index: 1;

  border: 3px solid #b59f5b;
}

.trends-article:nth-of-type(1) {
  background: url(../img/trend1.jpg);
  background-size: cover;
  background-position: center;
}

.trends-article:nth-of-type(2) {
  background: url(../img/trend2.jpg);
  background-size: cover;
  background-position: center;
}

.trends-article:nth-of-type(3) {
  background: url(../img/trend3.jpg);
  background-size: cover;
  background-position: center;
}

.trends-article:nth-of-type(4) {
  background: url(../img/trend4.jpg);
  background-size: cover;
  background-position: center;
}




/*центрирующий контейнер*/
.centering-container-main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  z-index: 2;
} 

/*ОСНОВНЫЕ ПОСТЫ*/
.news {
  display: flex;
  width: 778px;
  justify-content: space-between;
} 

.news:nth-child(n + 2) {
  margin-top: 57px;
}

.picture {
  width: 381px;
}

.article-content {
  width: 367px;
}

.teg-link {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin-bottom: 3px;
}



.link {
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
}

.link:hover {
  text-decoration: underline;
}

.title-link {
  display: block;
  width: 347px;
  text-decoration: none;
  /* font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: bold;
  font-family: "OpenSans", sans-serif; */
}

.title-link:hover {
  color: #b59f5b;
}

.about {
  padding-top: 30px;
  padding-bottom: 43px;
}

.date {
  font-size: 12px;
  color: #888888;
  font-weight: normal;
  font-family: "OpenSans";
  margin-top: 36px;
}

.autor {
  font-size: 12px;
  color: #000000;
  font-weight: bold;
  font-family: "OpenSans";
  margin-left: 7px;
}

.text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "OpenSans";
}

.text > p:not(:first-child) {
  margin-top: 10px;
}

/*БОКОВАЯ ПАНЕЛЬ*/
.side-content {
  width: 272px;
} 

/*НОВЫЕ ПОСТЫ*/
.new-posts-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: bold;
  font-family: "OpenSans";
  text-align: center;
} 

.new-posts-title::after {
  content: "";
  display: block;
  opacity: 0.4;
  width: 66px;
  border-bottom: 3px solid #b59f5b;
  margin: 0 auto;
  padding-top: 8px;
}

.posts {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}

.posts:nth-child(n + 3) {
  margin-top: 18px;
}

.post-picture {
  width: 70px;
}

.post-content {
  width: 181px;
}

.post-date {
  opacity: 0.541;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";
  vertical-align: top;
}

.post-content-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-family: "OpenSans";
  text-decoration: none;
}

.post-content-title:hover {
  color: #b59f5b;
}

/*ФОРМА ПОИСКА*/
.search-form {
  margin-top: 56px;
  position: relative;
  width: 270px;
} 

.search {
  width: 270px;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";
  height: 48px;
  background-color: #f4f7f6;
  border: 0px;
  box-sizing: border-box;
  padding: 18px;
}

.search:focus {
  outline-color: #b59f5b;
  outline-style: solid;
  outline-width: 1px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 0;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.search-button:hover {
  background-color: #323232;
}

/*ФОРМА РАССЫЛКИ*/
.email {
  margin-top: 57px;
} 

.email-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
}

.email-title::after {
  content: "";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.email-input {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: 0px;
  box-sizing: border-box;
  padding: 18px;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";
  margin-top: 21px;
}

.email-input:focus {
  outline-color: #b59f5b;
  outline-style: solid;
  outline-width: 1px;
}

.email-botton {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "OpenSans";
  width: 100%;
  min-height: 48px;
  background-color: #b59f5b;
  border: 0;
  margin-top: 18px;
}

.email-botton:hover {
  background-color: #323232;
}

/*ТЭГИ*/
.tags {
  margin-top: 57px;
} 

.tags-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
}

.tags-title:after {
  content: "";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.tags-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.tags-link {
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
  text-decoration: none;
}

.tags-item {
  display: inline-block;
  padding: 4px 14px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  box-sizing: border-box;
  margin-right: 6px;
  margin-bottom: 7px;
}

.tags-item:hover {
  border: 3px solid #b59f5b;
}

/*ТЕМЫ*/
.subject {
  margin-top: 50px;
} 

.subject-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
}

.subject-title:after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.subject-list {
  margin-top: 22px;
}

.subject-item {
  list-style-type: none;
}

.subject-item:nth-child(n + 2) {
  margin-top: 11px;
}

.subject-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin-top: 12px;
}

.subject-link {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  font-family: "OpenSans";
}

.subject-link:hover {
  color: #b59f5b;
}

.subject-number {
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "OpenSans";
  vertical-align: super;
}

.special-number {
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "OpenSans";
}

/* МАГАЗИН */
.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  
}

.shop-title {
  text-align: center;
  width: 100%;

  
}

.shop-title::after {
  content: "";
  display: block;
  opacity: 0.400;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 28px;
}

.shop-articcle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 348px;
}

.shop-img {
  width: 301px;
  background-color: #eff6f1;

  margin-bottom: -18px;
}

.border-container {
  box-sizing: border-box;
  padding-top: 51px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  outline: 3px solid #b59f5b;

  flex-grow: 1;
}

.shop-text {
  margin-top: 3px;
}

.shop-link {
  color: #b59f5b;
}

.shop-link:hover{
  text-decoration: underline;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 24px;
}

.price {
  display: flex;
  flex-direction: column;

 
}

.price-text {
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "OpenSans";
}

.old-price {
  text-decoration: line-through;
  font-size: 14px;
}

.rub {
  position: relative;
}

.new-rub::after {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: 3px;
  width: 7px;
  height: 2px;
  background-color: #000000;
}

.old-rub::after {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  background-color: #000000;

  position: absolute;
  top: 12px;
  right: 2px;
}

.shop-button {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;

  font-size: 14px;
  color: #ffffff;
}

.shop-button:hover {
  background-color: #323232;
}



 /*ПОДВАЛ*/
.footer {
  margin-top: 59px;
  width: 100%;
}

.logo-container {
  width: 100%;
  min-height: 83px;
  background-color: #f4f7f6;

  display: flex;
  justify-content: center;
}

.footer-div {
  width: 778px;
  margin: 0 auto;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 83px;
  width: 379px;
}

.logo-item {
  list-style-type: none;
}

.logo-item:nth-child(n + 2) {
  margin-left: 26px;
}

.dribble {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/001-dribbble.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.pinterest {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/001-pinterest.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.tumblr {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/003-tumblr.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.margin-div {
  margin-top: 74px;
  margin-bottom: 42px;
}

.copy-div {
  text-align: center;
}

.copy-footer {
  text-decoration: none;
  font-size: 13px;
  color: #999999;
  font-weight: 700;
  font-family: "Open Sans";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* TABLET ВЕРСИЯ */
@media (min-width: 641px) and (max-width: 1200px) {
  /* ПОП-АП */
  .pop-up-form {
    padding-left: 25px;
    margin-top: 235px;
  }

  .close-button {
    width: 28px;
    height: 28px;
    top: -35px;
  }

  .pop-up-title {
    font-size: 18px;
  }

  .email-label::before {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  .email-label:nth-of-type(2) {
    margin-left: 31px;
  }

  .word-container-pop-up {
    display: flex;
    align-items: center;
  }


  /* ШАПКА */
  .centering-container {
    padding: 0;
  }

  .header {
    background-image: url(../img/banner-bg-tablet.jpg);
    padding: 43px 36px;

    min-height: 392px;
    background-position: center;
  }

  .header-logo {
    width: 161px;
  }

  .menu {
    display: none;
  }

  .nuv {
    background-image: url(../svg/menu-burger-horizontal-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    
    width: 30px;
    height: 32px;
  }

  .header-title {
    font-size: 40px;
    line-height: 55px;
    width: 100%;

    padding: 86px 25px 0;
    box-sizing: border-box;
  }


  /* ТРЕНДЫ */
  .trends {
    margin-top: 42px;
  }  

  .trends-title::after {
    margin-top: 6px;
  }

  .title {
    font-size: 18px;
    line-height: 29px;
  }

  .greed-container {
    margin-top: 21px;
  }

  .trends-article {
    min-height: 245px;
    width: calc(50% - 2px);
  }

  .trends-article-container {
    min-height: 134px;
    padding: 32px 33px;
  }

  .trends-article-title {
    font-size: 17px;
    line-height: 22px;
  }


  /* ОСНОВНАЯ ЧАСТЬ */
  .centering-container-main {
    gap: 35px;
    padding: 0 35px;
  }

  .container-main {
    flex-wrap: nowrap;
    margin-top: 47px;
    padding-right: 42px;
  }

  .main-content {
    flex-grow: 1;
  }

  /* СТАТЬИ */
  .news {
    flex-direction: column;
    width: 100%;
  }

  .picture {
    width: 100%;
  }

  .article-content {
    width: 100%;
    margin-top: 10px;
  }

  .title-link {
    width: 100%;
    margin-top: 5px;

    line-height: 26px;
    font-size: 17px;
  }

  .about {
    padding-top: 25px;
    padding-bottom: 28px;
  }


  .news::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;

    margin-top: 17px;
  }

  .news:nth-child(n + 2) {
    margin-top: 41px;
  }


  /* МАГАЗИН */
  .container {
    margin-top: 33px;
    padding: 0 42px 0 35px;
  }

  .shop-title::after {
    margin-top: 7px;
    margin-bottom: 0;
  }

  .shop {
    gap: 26px;
  }

  .shop-articcle {
    width: calc(50% - 13px);
  }

  .picture-img {
    box-sizing: border-box;
    padding: 0 23px;
    background-color: transparent;
  }

  .shop-img {
    width: 100%;
    margin-bottom: -16px;
  }

  .shop-text {
    margin-top: 0;
  }

  .price-container{
    margin-top: 19px;
  }


  /* ПОДВАЛ */
  .footer {
    margin-top: 21px;
  }

  .footer-div {
    width: 100%;
  }

  .margin-div {
    margin-top: 46px;
  }

}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trends-article {
    width: calc(25% - 3px);
  }
}

/* MOBILE-ВЕРСИЯ */
@media (max-width: 640px) {
  /* ПОП-АП */
  .pop-up {
    padding: 0 14px;
    box-sizing: border-box;
  }

  .close-button {
    width: 29px;
    height: 29px;
    top: -35px;
  }

  .pop-up-form {
    width: 100%;
    margin-top: 0;
    top: 6%;

    min-height: 545px;
    padding-left: 23px;
    padding-right: 20px;
    padding-bottom: 16px;
  }

  .pop-up-title {
    font-size: 16px;
    
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .pop-up-title::after {
    margin-top: 5px;
  }

  .form-titles {
    font-size: 13px;
  }

  .select-form {
    width: 100%;
    padding: 0 36px 0 21px;

    background-position: 92%;
  }

  .email-label::before {
    width: 27px;
    height: 27px;
    background-size: 27px;
  }

  .email-label:nth-of-type(2) {
    margin-left: 26px;
  }

  .word-container-pop-up {
    display: flex;
    align-items: center;
  }

  .text-area-title {
    line-height: 16px;
  }

  .pop-up-textarea {
    padding: 24px;
  }

  .pop-up-button {
    width: 97%;
    margin-top: 28px;
  }


  /* ШАПКА */
  .header {
    background-image: url("../img/banner-mobile.jpg");
    min-height: 640px;
  }

  .centering-container {
    flex-direction: column-reverse;
    padding: 0px 14px;
  }

  .header-logo {
    width: 269px;
    margin-top: 174px;
  }

  .nuv {
    background-image: url(../svg/menu-burger-horizontal-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 27px;
    height: 23px;

    align-self: flex-end;
  }

  .menu {
    display: none;
  }

  .header-title {
    width: 328px;
    font-size: 26px;
    line-height: 36px;

    padding-top: 31px;
  }

  /* ТРЕНДЫ */
  .trends {
    margin-top: 36px;
  }

  .trends-title::after {
    margin-top: 6px;
  }

  .trends-article {
    padding: 15px 16px;
    width: 100%;
    min-height: 229px;
  }

  .trends-article-container {
    min-height: 120px;

    padding: 27px 30px 22px 18px;
  }


  /* ОСНОВНАЯ ЧАСТЬ */
  .centering-container-main {
    padding: 0 20px 0 14px;
    margin-top: 46px;
  }

  
  /* СТАТЬИ */
  .news {
    flex-direction: column;
    width: 100%;
  }

  .news::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;

    margin-top: 17px;
  }

  .news:nth-child(n + 2) {
    margin-top: 34px;
  }

  .picture {
    width: 100%;
  }

  .article-content {
    width: 100%;
    margin-top: 8px;
  }

  .teg-link {
    margin-bottom: 6px;
  }

  .title-link {
    width: 100%;
  }

  .about {
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .text > p:not(:first-child) {
    margin-top: 0px;
  }


  /* БОКОВАЯ ПАНЕЛЬ */
  .side-content {
    width: 100%;
    margin-top: 39px;
  }

  /* ПОСТЫ */
  .new-posts-title {
    font-size: 16px;
  }

  .posts {
    gap: 20px;
    justify-content: flex-start;
  }

  .post-picture {
    width: 70px;
  }

  .post-content {
    width: 100%;
  }

  /* ФОРМЫ */
  .search-form {
    width: 100%;
  }

  .search {
    width: 100%;
  }

  .email {
    margin-top: 40px;
  }

  .email-title {
    font-size: 15px;
  }

  .tags {
    margin-top: 39px;
  }

  .tags-item {
    margin-right: 3px;
    padding: 4px 14px;
  }

  .subject {
    margin-top: 35px;
}


  /* .shop {
    margin-top: 44px;
  } */

  /* МАГАЗИН */
  .shop-img {
    width: 282px;
  }

  .shop-text {
    font-size: 15px;
    margin-top: 1px;
  }

  .shop-articcle {
    width: 100%;
  }

  .shop-articcle:nth-of-type(n+2) {
    margin-top: 31px;
  }

  /* ПОДВАЛ */
  .footer {
    margin-top: 47px;
  }

  .footer-div {
    width: 100%;
    margin-top: 46px;
  }

}

@media (max-height: 640px) and (orientation: landscape) {
  .trends-article {
    width: calc(50% - 2px);
  }
}